*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  max-width: 95vw;
  margin: 0 auto;
}

.sort-btn {
  display: block;
  width: 300px;
  margin: 40px auto;
  font-size: 16px;
  color: #404040;
  text-transform: uppercase;
  border: 1px solid #cecece;
  padding: 20px;
  cursor: pointer;
  transition: 300ms all ease;
  outline: 0;
}

.sort-btn:hover {
  background: #f9f9f9;
}

.sort-btn:disabled {
  cursor: not-allowed;
  background: #d0cfcf;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
}

.participant {
  position: relative;
  flex: 1;
  background: #e8e8e8;
  border: 2px solid #e8e8e8;
  text-align: center;
  margin: 5px;
  min-width: 200px;
  max-width: 200px;
  height: 80px;
  border-radius: 5px;
}

.participant .participant-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #404040;
  text-transform: uppercase;
}

.participant.active {
  border: 2px dashed #404040 !important;
}

.participant.winner:not(.current-winner) {
  opacity: 0.5;
}

.participant.winner:not(.current-winner) .participant-name {
  text-decoration: line-through;
}

.participant.winner.current-winner {
  background: #71dc8d;
  border-color: #71dc8d;
}
